*{
	leading:4;
}

.MS900_13_504380{
	font-family:Museo Sans 900;
	font-size:13px;
	color:#504380;
}

.MS900_15_FFFFFF{
	font-family:Museo Sans 900;
	font-size:15px;
	color:#FFFFFF;
	leading:-1;
}

.MS500_15_FFFFFF{
	font-family:Museo Sans 500;
	font-size:15px;
	color:#FFFFFF;
}

.MS700_11_FFFFFF{
	font-family:Museo Sans 700;
	font-size:13px;
	color:#FFFFFF;
}

.MS300_11_FFFFFF{
	font-family:Museo Sans 300;
	font-size:13px;
	color:#FFFFFF;
}

.MS900_20_FFFFFF{
	font-family:Museo Sans 900;
	font-size:20px;
	color:#FFFFFF;
}

.MS300I_15_FFFFFF{
	font-style:italic;
	font-family:Museo Sans 300 Italic;
	font-size:15px;
	color:#FFFFFF;
}

.MS900_24_FFFFFF{
	font-family:Museo Sans 900;
	font-size:24px;
	color:#FFFFFF;
	leading:0;
}

.MS500I_22_FFFFFF{
	font-style:italic;
	font-family:Museo Sans 500 Italic;
	font-size:22px;
	color:#FFFFFF;
}

.MS900_72_FFFFFF{
	font-family:Museo Sans 900;
	font-size:72px;
	color:#FFFFFF;
	leading:17;
}
.MS900_72_FFFFFF_menu2{
	font-family:Museo Sans 900;
	font-size:72px;
	color:#FFFFFF;
	leading:12;
	text-align:center;
}



.MS300_12_FFFFFF{
	font-family:Museo Sans 300;
	font-size:12px;
	color:#FFFFFF;
}

.MS100I_15_FFFFFF{
	font-style:italic;
	font-family:Museo Sans 100 Italic;
	font-size:15px;
	color:#FFFFFF;
}

.MS900_30_FFFFFF{
	font-family:Museo Sans 900;
	font-size:30px;
	color:#FFFFFF;
}
.MS300_15_FFFFFF{
	font-family:Museo Sans 300;
	font-size:15px;
	color:#FFFFFF;
}
.MS300_15_FFFFFF_justify{
	font-family:Museo Sans 300;
	font-size:15px;
	color:#FFFFFF;
	text-align:justify;
}

.error_mail{
	font-family:Museo Sans 500;
	font-size:20px;
	color:#FFFFFF;
}

.help_mail{
	font-family:Museo Sans 500;
	font-size:20px;
	color:#FFFFFF;
}



.print_header{
	font-family:Museo Sans 300;
	font-size:42px;
	color:#FFFFFF;
	text-align:center;
}
.print_title{
	font-family:Museo Sans 900;
	font-size:50px;
	color:#8DB21A;
	text-align:center;
}

.print_item_title{
	font-family:Museo Sans 900;
	font-size:34px;
	color:#ffffff;
}

.print_item_desc{
	font-family:Museo Sans 300;
	font-size:29px;
	color:#ffffff;
}

.noresultfilter{
	font-family:Museo Sans 500;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
}